/* General Styling */
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #1B1F26; /* Primary color */
    --primary-color-light: #444E60;
    --primary-color-dark: #000000;

    --secondary-color: #F2F2F2; /* Light text color */
    --secondary-color-light: #FFFFFF;
    --secondary-color-dark: #ACACAC;

    --accent-color: #D9936A;
    --accent-color-light: #ffab7b;
    --accent-color-dark: #865a41;
    
    --neutral-light: #ECF0F1;
    --neutral-dark: #2C3E50;
    --neutral-gray: #95A5A6;
}

* {
    margin: 0;
    font-family: 'barlow';
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 40px;
    text-align: center;
    padding-bottom: 20px;
    color: var(--accent-color);
}
h4 {
    font-size: 32px;
}

p, li {
    font-size: 20px;
    line-height: 2rem;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 32px;
    }
    h4 {
        font-size: 24px;
    }
    p, li {
        font-size: 16px;
    }
}

/* Navbar styling */
ul {
    padding: 0; 
}

ul li {
    list-style: none;
}

nav ul {
    display: flex;
}

nav ul li {
    padding: 0 20px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--accent-color);
}

nav ul li a.active {
    font-weight: bold;
    color: var(--accent-color);
}

.header-info {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 1px solid var(--neutral-gray);
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 10;
    height: 50px;
    align-items: center;
}

/* Articles and sections styling */
section ul {
    padding: 20px 0;
}

article {
    margin-top: 50px;
}

article.head-section {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 30vh;
    width: 70vw;
    margin: auto;
}

.head-section p {
    padding-top: 30px;
}

.body-section img {
    width: 70vw;
}

/* Buttons styling */
.button {
    margin-top: 100px;
    background-color: var(--accent-color-light);
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
    color: var(--primary-color);
    width: 70vw;
}

.button:hover{
    background-color: var(--accent-color-dark);
    color: var(--secondary-color-dark);
}

/* Footer styling */
footer {
    background-color: var(--neutral-dark);
    color: var(--secondary-color);
    padding: 20px 0;
    text-align: center;
    border-top: 5px solid var(--accent-color-dark);
}

footer ul li {
    display: inline-block;
    margin: 0 15px;
}

footer ul li a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

footer p {
    margin-top: 10px;
    opacity: 0.8;
}

/* Background styling */
.background {
    height: 100vh;
}

.background > img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center top;
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0.5;
}

/* Body styling */
.body-section {
    margin: auto;
    width: 70vw;
}
.card-subtitle {
    font-size: 30px;
    padding: 50px 0 0 40px;
    color: var(--accent-color-dark);
    font-weight: bold;
}

@media only screen and (min-width: 769px) {
    .body-section article.text,
    .body-section article.header {
        display: grid;
        padding: 200px 0;
        align-items: baseline;
        grid-template-columns: 30% 70%;
    }
    #nutrition .body-section article.text,
    #nutrition .body-section article.header {
        grid-column-gap: 100px;
    }

    .body-section > section {
        padding-right: 50px;
    }

    section.center {
        text-align: center;
    }
    
    section.center p {
        margin: 0 0 100px 0;
    }

    /* Figures and images styling */
    figure {
        width: 70vw;
        margin-top: 20px;
    }
    
    figure section {
        display: flex;
        padding-bottom: 50px;
    }
    
    figure img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        margin-right: 50px;
    }
    
    figcaption {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    #home > article {
        padding: 200px;
    }

    /* Card styling */
    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: start;
        margin-top: 100px;
    }

    .card.reverse {
        grid-template-columns: 1fr 2fr;
    }

    .card section {
        padding: 40px;
    }

    .card img {
        width: 300px;
        padding: 0;
    }

    .card h4 {
        margin-bottom: 10px;
    }

    .card.reverse section:nth-child(1) {
        order: 2;
    }

    .card.reverse section:nth-child(2) {
        order: 1;
    }

    /* Styling for the aside section */

    aside {
        background-color: var(--primary-color-dark);
        border-right: 5px solid var(--accent-color-dark);
        padding: 20px;
        margin-right: 50px;
        color: var(--secondary-color);
        flex: 0 0 250px;
        max-width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }
    
    aside ul li a:hover {
        color: var(--accent-color);
        font-weight: bold;
    }
    
    
    aside li {
        font-size: 15px;
    }
    
    .aside-toggle {
        display: none; /* Initially hidden for large screens */
        cursor: pointer;
        font-size: 1.2em;
        padding: 10px;
        background-color: var(--primary-color-dark);
        color: var(--secondary-color-light);
        text-align: center;
        border: 1px solid var(--secondary-color-light);
        width: 100%;
    }
    
    .arrow {
        margin-left: 10px;
    }
    
    .menu-content {
        display: block; /* Visible on large screens */
        margin: 20px 0;
    }
    
    .aside-menu {
        display: none; /* Hide the checkbox */
    }
    #main-exercises .body-section {
        display: flex;
        padding: 0;
        width: auto;
    }

    /* Styling for contact info section */
    .contact-info {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .contact-info section {
        flex: 1;
        margin-right: 50px;
    }

    .contact-info section:last-child {
        margin-right: 0;
    }
}

/* Form styling */
form {
    background-color: var(--neutral-dark);
    padding: 50px;
    border-radius: 10px;
    max-width: 600px;
    margin: 100px auto;
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 20px;
    font-weight: bold;
    color: var(--accent-color);
    margin: 50px 0;
    text-align: center;
}

label {
    display: block;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Styling for input fields, select, and textarea */
input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: var(--accent-color);
    outline: none;
    box-shadow: 0 0 10px rgba(255, 99, 71, 0.5);
}

/* Styling for select dropdown */
select {
    background-color: var(--primary-color);
    color: var(--secondary-color-dark);
    padding: 10px;
    cursor: pointer;
}

.salutation {
    max-width: 100px;
}

select:hover {
    background-color: var(--primary-color-light);
}

/* Submit button */
input[type="submit"] {
    font-size: 15px;
    font-weight: bold;
    background-color: var(--accent-color-light);
    color: var(--primary-color);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    margin: 50px auto 0 auto;
    width: 250px;
}

input[type="submit"]:hover {
    background-color: var(--accent-color-dark);
    color: var(--secondary-color-dark);
}

.side-menu, .hamb, .hamb-line, .aside-menu, .aside-toggle, .arrow-line{
    display: none;
}

/* Hamburger Menu (for small screens) */
@media only screen and (max-width: 768px) {
    article {
        margin-bottom: 100px;
    }
    .nav {
        display: none; /* Hide nav links initially on small screens */
    }

    .hamb {
        display: block;
        position: relative;
        padding: 20px;
        cursor: pointer;
        margin: 0;
        align-items: center;
    }

    .hamb-line {
        background: var(--secondary-color-light);
        display: block;
        height: 2px;
        width: 24px;
        position: relative;
        transition: all 0.8s ease;
    }

    .hamb-line::before,
    .hamb-line::after {
        content: '';
        position: absolute;
        background: var(--secondary-color-light);
        height: 100%;
        width: 100%;
        transition: all 0.8s ease;
    }

    .hamb-line::before {
        top: -8px;
    }

    .hamb-line::after {
        top: 8px;
    }

    /* Toggle Hamburger Menu */
    .side-menu {
        display: none;
    }

    .side-menu:checked ~ .nav {
        display: block;
        position: absolute;
        top: 70px;
        right: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
    }

    .side-menu:checked ~ .hamb .hamb-line {
        background: transparent;
    }

    .side-menu:checked ~ .hamb .hamb-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .side-menu:checked ~ .hamb .hamb-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    .menu li a {
        padding: 10px 0;
        display: block;
        color: var(--secondary-color-light);
        width: 100%;
    }

    body:has(.side-menu:checked, .aside-menu:checked) {
        overflow: hidden;
    }

    figure img {
        margin-bottom: 20px;
    }

    figcaption{
        text-align: center;
    }
    section.center,#home > article {
        width: 70vw;
        margin: 80px auto;
    }

    section.center p{
        margin-bottom: 100px;
    }

    /* Background styling */
    .background {
        height: 100vh;
    }

    .background > img {
        width: 100%;
        height: 100vh;
        object-fit: cover;
        object-position: center top;
        position: absolute;
        top: 0;
        z-index: 1;
        opacity: 0.5;
    }

    .card > section{
        margin-bottom: 100px;
    }
    aside{
        width: 100%;
        margin: 0;
        max-height: 100vh;
        position: sticky;
        top: 0;
        overflow-y: auto;
    }

    .aside-toggle {
        display: flex;
        position: sticky;
        top: 0;
        padding: 20px 0;
        cursor: pointer;
        align-items: center;
        margin: 0;
        justify-content: center;
        background-color: var(--primary-color-dark);
        width: 100%;
    }

    .arrow-line {
        background: var(--secondary-color-light);
        display: block;
        height: 2px;
        width: 24px;
        position: relative;
        transition: all 0.8s ease;
        margin-left: 20px;
        transform: rotate(90deg);
        background: transparent;
    }

    .arrow-line::before,
    .arrow-line::after {
        content: '';
        position: absolute;
        background: var(--secondary-color-light);
        height: 100%;
        width: 100%;
        transition: all 0.8s ease;
    }

    .arrow-line::before {
        top: -8px;
        transform: rotate(45deg);
    }

    .arrow-line::after {
        top: 8px;
        transform: rotate(-45deg);
    }

    /* Menu content - initially hidden */
    .menu-content {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /* Show menu content when aside menu is checked */
    .aside-menu:checked ~ .menu-content {
        display: block;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 15px 0 100px 0;
        height: auto;
    }

    /* Transform the arrow icon to mimic the hamburger closing effect */
    .aside-menu:checked ~ .aside-toggle .arrow-line {
        background: transparent;
    }

    .aside-menu:checked ~ .aside-toggle .arrow-line::before {
        transform: rotate(-45deg);
        top: 0;
    }

    .aside-menu:checked ~ .aside-toggle .arrow-line::after {
        transform: rotate(45deg);
        top: 0;
    }

    /* List items style inside the menu */
    .menu-content li a {
        display: block;
        padding: 10px 0;
        color: var(--secondary-color-light);
        text-align: center;
        width: 100%;
    }
    .menu-content li a::after {
        display: none;
    }
    /* Prevent page scroll when menu is open */

    #main-exercises .body-section {
        display: block; /* Break out of the grid layout */
        width: 100vw; /* Full width on mobile */
    }
    .body-section > section{
        width: 70vw;
        margin: auto;
    }

    /* Adjust the aside-toggle style for better alignment */
    .aside-toggle {
        display: flex;
        justify-content: space-around;
        background-color: var(--primary-color-dark);
        color: var(--secondary-color-light);
    }

    .card-subtitle {
        font-size: 22px;
    }

    form {
        padding: 20px;
        margin: 0 15px 100px 15px;
    }
    .salutation {
        max-width: 100%;
    }
    input[type="text"], input[type="email"], textarea {
        width: 90%;
    }

}
